//  colors
$_white: #FFFFFF;
$_light-red: #FF4343;
$_red-rgba: rgba(255, 67, 67, 0.8);
$_dark-red: rgba(185, 12, 12, 0.8);
$_red: #E71414;
$_asphalt: #2D3033;
$_grey: #C6CBCD;
$_dark-grey: #6C7279;
$_grey-footer: #808080;
$_grey-nav: #BABBC5;
$_violet: #7E5D6F;
$_dark-violet: #5C3249;
$_light-blue: #656980;
$_blue-header: rgba(37, 43, 73, 0.8);
$_dark-blue: #2C3154;
$_dark-blue-logo: #252840;
$_blue: #353C65;
$_black: #000000;

// font-size
$_main_title: 4rem;
$_title: 2.25rem;
$_sub_title: 1.875rem;
$_lead: 1.5rem;
$_text: 1.125rem;
$_desc: 0.8124rem;

// border
$_border: 1px solid $_white;
$_border-transparent: 3px solid transparent;
$_border-hover: 3px solid $_grey-nav;
$_border-active: 3px solid $_red;
$_border-ikon: 1px solid $_grey;
$_border-slider: 1px solid $_violet;


