@import './cdn';
@import './variables';
@import './mixins';
@import './font';
@import './header.scss';
@import './features.scss';
@import './our_team.scss';
@import './download.scss';
@import './contact.scss';
@import './footer.scss';
@import './slider.scss';
@import './work.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: 'Raleway', 'Cardo', sans-serif;
}
body.lock {
    @media (max-width: 767px) {
        overflow: hidden;
    }

}
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 2;

    @media (max-width: 1200px) {
        max-width: 970px;
    }
    @media (max-width: 1024px) {
        max-width: 984px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}