.team {
    padding: 114px 0;
}
.team-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}
.team__card {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.team__card-img {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
    overflow: hidden;
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}
.team__card-title {
    @include title;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.team__card-subtitle {
    color: $_light-red;
    font-weight: 400;
    font-size: $_text;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.team__card-text {
    margin-bottom: 38px;
    p {
      @include text;  
    }
}
.team__card-links {
    display: flex;
    width: 128px;
    justify-content: space-between;
}
.card-links {
    display: block;
    width: 39px;
    height: 39px;
    border: $_border-ikon;
    position: relative;
}
.fa-facebook-f {
    @include links-ikon;
}
.fa-twitter {
    @include links-ikon;
}
.fa-linkedin-in {
    @include links-ikon;
}