.work {
    background-color: $_white;
}
.work-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li:hover .overlay {
        transform: scale(1);
    }
}
.work-element {
    flex-basis: 25%;
    position: relative;
    cursor: pointer;

    @media (max-width: 767px) {
        flex-basis: 30%;
        flex-grow: 1;
    }
    @media (max-width: 566px) {
        flex-basis: 40%;
    }
}
.work-link {
    display: block;
    overflow: hidden;
    border: $_border;
    aspect-ratio: 1/1;
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $_red-rgba;
    transform: scale(0);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay:active {
    background: $_dark-red;
}
.work-title {
    font-weight: 900;
    font-size: $_lead;
    color: $_white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    
    @media (max-width: 1024px) {
        font-size: 18px;
        margin-bottom: 26px;
    }
    @media (max-width: 320px) {
        margin-bottom: 10px;
    }
}
.work-text {
    display: block;
    font-weight: 400;
    font-size: $_text;
    color: $_white;
    text-align: center;

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}